language: objective-c
osx_image: xcode7.3

before_install:
    - gem install xcpretty -N --no-ri --no-rdoc

script:
    - set -o pipefail
    - xcodebuild clean test -workspace Example/Faro.xcworkspace -scheme Faro_Example -destination "platform=iOS Simulator,name=iPhone 6 Plus" -enableCodeCoverage YES | xcpretty

deploy:
  skip_cleanup: true
  provider: script
  script: ./scripts/deploy.sh
  on:
    tags: true
    branch: master

notifications:
  slack:
    on_start: always
    secure: KI/F1ls3WJWyUgBqA6aYKoF3GbmQUcNei0yoCSLBgqeVRqQIgYnZQ54empRKxFepolzLI7ZeojVFd7I9exHaYO/f5RS1spoK7Z5Abes4dteWBJ4mpIeTc6NUJZrNR4ycC4iULovLHdve8fET7YCD6MG30wvteY8oKATGAlMJ6M2uGjSHV1X9TzcIPJFzT2BuU4srroJPKUZ+LwZfEdNJC3QJxrN9bYlsW+0qKEr6rXHBNzdYf7gKNVt9Ek+pyh2tzWobtB2sX3twuzBoRY3wdyeeut442sNZVY9N3HoepzrtH54J0H/3b2jZZgRE2fnJS31rgoYFmfH1REFmxnjkQdZKuk06jfRPPY6SqqJf1qQYrjcCHeLg9HswUgPQHnF78YnuisWZ8OVbb9qf9vJDt+E9XR6j12JKkzlZrQV8Bc8NY/IbmVkjAZxXX2L50ULYK6abcf6sEFC/sm7WLdP28Pvon2ehODDojmv045t/wDB2o4VPt/8sEOAAlMsAhhLlHS0cMCXgh4m0PlZ/QnPhhLJn49+PDXh+DeUeo/kfWvmDCrrwWWxe5v0P4x8nlAq7FPcyck1aegZa2c8D41QNBGSykOoCOid6gWqY53ualSIWad3TJInLIVEeohBhlHcQw5/vFdMxObERZLRP63ma7qxeV5Gd3haQ0B7ytnEp8zc=
